asgiref==3.8.1
cloudinary==1.36.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==5.0.6
django-allauth==0.63.3
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-summernote==0.8.20.0
gunicorn==22.0.0
psycopg2==2.9.9
pytz==2024.1
sqlparse==0.5.0
urllib3==1.26.20
whitenoise==5.3.0
