{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Baby Care Blog</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--Meta tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Baby Care Blog - Nurturing Little Lives with Love and Care.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">

    <link rel="manifest" href="/site.webmanifest">
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span class="brand">Baby Care</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% if post.id %}
                        <a class="nav-link active" aria-current="page" href="{% url 'add_to_read_later' post.id %}">Read
                            Later</a>
                        {% else %}
                        <!-- Handle case where post.id is empty or None -->
                        <span class="nav-link active" aria-current="page">Read Later</span>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-text text-muted">
                    Nurturing Little Lives with Love and Care
                </span>
            </div>
        </div>
    </nav>

    <!--Messages-->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <div class="container">
            <p class="m-0 text-center text-white">Made by Feruza|2024</p>
            <p class="m-0 text-center text-white">Follow us:
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-square ms-3"></i></a>
                <a href="#" aria-label="Twitter"><i class="fab fa-twitter-square ms-3"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram-square ms-3"></i></a>
                <a href="#" aria-label="YouTube"><i class="fab fa-youtube-square ms-3"></i></a>
            </p>
        </div>
    </footer>
    <!--Font awesome kit-->
    <script src="https://kit.fontawesome.com/4eb9e18dd0.js" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            <!--Misses alert message-->
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>
</body>