{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Masthead Section -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <!-- Title Section -->
            <div class="col-md-3 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>

            <!-- Image Section -->
            <div class="col-md-6 masthead-image">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="{% static 'images/default.jpeg' %}" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <!-- Sticky Read Later Button (in a sidebar) -->
        <div class="col-12" style="margin: 20px;">
            {% if user.is_authenticated %}

            <!-- If the post is not saved to 'Read Later', show the Add button -->
            <form action="{% url 'add_to_read_later' post.slug %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-bookmark"></i> Read Later
                </button>
            </form>
            {% else %}
            <p><a href="{% url 'login' %}">Log in</a> to save this post for later.</p>
            {% endif %}


        </div>

        <!-- Post Content -->
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <!-- Voting Section -->
                <div class="d-flex align-items-center gap-3 mt-3">
                    <div class="text-center">
                        <!-- Upvote Button -->
                        {% if user.is_authenticated %}
                        <form action="{% url 'post_upvote' post.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm p-2" style="width: 40px; height: 40px;">
                                <i class="{% if upvoted %}fas{% else %}far{% endif %} fa-thumbs-up"></i>
                            </button>
                        </form>
                        <!-- Upvote Count -->
                        <p class="mb-0 mt-1">{{ post.number_of_upvotes }}</p>
                    </div>
                    <div class="text-center">
                        <!-- Downvote Button -->
                        <form action="{% url 'post_downvote' post.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm p-2" style="width: 40px; height: 40px;">
                                <i class="{% if downvoted %}fas{% else %}far{% endif %} fa-thumbs-down"></i>
                            </button>
                        </form>
                        <!-- Downvote Count -->
                        <p class="mb-0 mt-1">{{ post.number_of_downvotes }}</p>

                        {% else %}
                        <span class="text-secondary">
                            👍 {{ post.number_of_upvotes }}
                        </span>
                        <span class="text-secondary">
                            👎 {{ post.number_of_downvotes }}
                        </span>
                        <p class="text-muted">Log in to vote.</p>
                        {% endif %}
                    </div>


                    <div class="text-center">
                        {% with comments.count as total_comments %}
                        <span class="btn btn-outline-secondary btn-sm p-2" style="width: 40px; height: 40px;">
                            <i class="far fa-comments"></i>
                        </span>
                        <p class="mb-0 mt-1">{{ comments.count }}</p>

                        {% endwith %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- Comments section and comment form -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments
                {% if not comment.approved and comment.author == user %}
                faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }} <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}

                    <!-- Allow users to delete or edit their own comments -->
                    {% if user.is_authenticated and comment.author == user %}
                    <form action="{% url 'comment_delete' post.slug comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" comment_id="{{ comment.id }}" class="btn btn-delete">Delete</button>
                    </form>

                    <button class="btn btn-edit" comment_id="{{ comment.id }}"
                        onclick="showEditForm('{{ comment.id }}')">Edit</button>

                    <form id="edit-form-{{ comment.id }}" action="{% url 'comment_edit' post.slug comment.id %}"
                        method="POST" style="display: none;">
                        {% csrf_token %}
                        <textarea name="body" rows="4" cols="50" id="id_body" class="textarea
                        form-control">{{ comment.body }}</textarea>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="hideEditForm('{{ comment.id }}')">Cancel</button>
                    </form>

                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Creating new comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/vote.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}