{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpeg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post_upvote' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if upvoted %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-upvote">
                                <i class="fas fa-thumb-up"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-upvote">
                                <i class="far fa-thumb-up"></i>
                            </button>
                            {% endif %}
                        </form>
                        <form class="d-inline" action="{% url 'post_downvote' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if downvoted %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-downvote">
                                <i class="fas fa-thumb-down"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-downvote">
                                <i class="far fa-thumb-down"></i>
                            </button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="far fa-thumb-up"></i></span>
                        <span class="text-secondary"><i class="far fa-thumb-down"></i></span>
                        {% endif %}
                        <span class="text-secondary"> {{ post.number_of_upvotes }}</span>
                        <span class="text-secondary"> {{ post.number_of_downvotes }}</span>
                    </div>

                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>

                    <!-- Add "Read Later" button -->
                    <div class="col-2">
                        {% if user.is_authenticated %}
                        <form action="{% url 'add_to_read_later' post.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Read Later</button>
                        </form>
                        {% else %}
                        <p><a href="{% url 'login' %}">Log in</a> to save this post for later.</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- Comments section and comment form -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments
                {% if not comment.approved and comment.author == user %}
                faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }} <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}

                    <!-- Allow users to delete or edit their own comments -->
                    {% if user.is_authenticated and comment.author == user %}
                    <form action="{% url 'comment_delete' post.slug comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete">Delete</button>
                    </form>

                    <button class="btn btn-edit" onclick="showEditForm('{{ comment.id }}')">Edit</button>

                    <form id="edit-form-{{ comment.id }}" action="{% url 'comment_edit' post.slug comment.id %}"
                        method="POST" style="display: none;">
                        {% csrf_token %}
                        <textarea name="body" rows="4" cols="50">{{ comment.body }}</textarea>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="hideEditForm('{{ comment.id }}')">Cancel</button>
                    </form>

                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Creating new comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
