{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Posts Bookmarked for Later</h2>
    {% if read_later_posts %}
        <ul>
            {% for item in read_later_posts %}
                <li>
                    <a href="{% url 'post_detail' item.post.slug %}">{{ item.post.title }}</a> - Added on {{ item.added_on }}
                    <div class="col-12" style="margin: 20px;">
            
                        <!-- If the post is saved to 'Read Later', show the Remove button -->
                        <form action="{% url 'remove_from_read_later' item.post.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-bookmark"></i>Remove
                            </button>
                        </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not bookmarked any posts to read later.</p>
    {% endif %}
</div>
{% endblock %}

