{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Posts Bookmarked for Later</h1>
    {% if read_later_posts %}
        <ul>
            {% for item in read_later_posts %}
                <li>
                    <a href="{% url 'post_detail' item.post.slug %}">{{ item.post.title }}</a> - Added on {{ item.added_on }}
                    <form action="{% url 'remove_from_read_later' post.slug %}" method="POST">

                    {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash"></i> Remove
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not bookmarked any posts to read later.</p>
    {% endif %}
</div>
{% endblock %}

